/* Desenvolva a estilização da sua página aqui */
@import url(./modal.css);
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-inline: auto;

}

.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    background-color: var(--color-grey-5);
    position: sticky;
    margin-inline: auto;
    width: 80%;

}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.header__title {
    color: var(--color-brand-1);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-1);
}

.header__title--black {
    color: var(--color-grey-1);
}

#header__button {
    background-color: var(--color-brand-1);
    color: var(--color-mode);
    height: 2rem;
    padding: 0 1rem;
    border-radius: 0.5rem;
    border: 1.5px solid var(--color-brand-1);
}

.filter__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 1.5rem;
    /* padding-inline: 2rem; */
    width: 70%;

}

.filter__title {
    color: var(--color-grey-1);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-2);
}

.filter__button-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

}

.filter__button {
    color: var(--color-grey-2);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-1);
    border: none;
    background-color: var(--color-mode);

}

.filter__button--selected {
    color: var(--color-brand-1);
    border: 1.5px solid var(--color-brand-1);
    background-color: var(--color-brand-3);
    padding: 0.4rem 0.875rem;
    border-radius: 0.5rem;

}

.total__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 2rem;
    width: 70%;
    padding: 0.875rem 1.5rem;
    background-color: var(--color-grey-5);
    border-radius: 0.5rem;
    border: 1.5px solid var(--color-grey-4);
}

.total__title {
    color: var(--color-grey-1);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-2);
}

#total-amount {
    color: var(--color-grey-1);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-2);
}

.list__itens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-inline: 1.5rem;
    width: 70%;


}

.item__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    /* background-color: antiquewhite; */
    width: 100%;
}

.item__price{
font-size: var(--font-size-3);
font-weight: var(--font-weight-2);
}

.item__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.item__category {
    display: flex;
    background: var(--color-grey-4);
    border-radius: 0.25rem;
    padding: 0.45rem 0.825rem;
    width: 5rem;
    justify-content: center;
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-2);

}
.item__del-button {
    background-image: url(../assets/trash.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 28px;
    border: none;
    background-color: var(--color-mode);

}
